In [3]:
import pandas as pd

In [4]:
World = pd.DataFrame([], columns=['name', 'continent', 'area', 'population', 'gdp']).astype({'name':'object', 'continent':'object', 'area':'Int64', 'population':'Int64', 'gdp':'Int64'})

In [5]:
World.loc[0] = ['Afghanistan', 'Asia', 652230, 25500100, 20343000000]
World.loc[1] = ['Albania', 'Europe', 28748, 2831741, 12960000000]
World.loc[2] = ['Algeria', 'Africa', 2381741, 37100000, 188681000000]
World.loc[3] = ['Andorra', 'Europe', 468, 78115, 3712000000]
World.loc[4] = ['Angola', 'Africa', 1246700, 20609294, 100990000000]

In [6]:
World

          name continent     area  population           gdp
0  Afghanistan      Asia   652230    25500100   20343000000
1      Albania    Europe    28748     2831741   12960000000
2      Algeria    Africa  2381741    37100000  188681000000
3      Andorra    Europe      468       78115    3712000000
4       Angola    Africa  1246700    20609294  100990000000

In [7]:
import pandas as pd

def big_countries(world: pd.DataFrame) -> pd.DataFrame:

    # create a mask with required conditions
    bigcountries_mask = (world['area'] >= 3000000) | (world['population'] >= 25000000)

    # create a data frame based on the conditions 
    BigCountries = world[bigcountries_mask]

    # extract  required information
    result = BigCountries[['name', 'population', 'area']]

    return result